<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Scanner Example</title>
	<script src="../node_modules/angular/angular.js"></script>
    <script src="../dist/barcode-scanner.js"></script>
	<script>
		'use strict';
		var example = angular.module('barcodeScannerExample', ['barcodeScanner']);
		example.controller('MainController', function ($scope) {
			$scope.words = [];
			$scope.triggerChar = 9;
			$scope.separatorChar = 13;
			$scope.triggerCallback = function () {
				$scope.lastTrigger = 'Last trigger callback: ' + new Date().toISOString();
				$scope.$apply();
			};
			$scope.scanCallback = function (word) {
				$scope.words.push(word);
				$scope.$apply();
			};
		});
	</script>
</head>
<body ng-app="barcodeScannerExample" ng-controller="MainController">
<span>{{lastTrigger}}</span>
<br/>
<br/>
<div>
    <label for="triggerChar">Trigger Character (default 9 which is TAB)</label>
    <input id="triggerChar" type="number" ng-model="triggerChar" value="9">
</div>
<br/>
<br/>
<div>
    <label for="separatorChar">Separator Character (default 13 which is ENTER)</label>
    <input id="separatorChar" type="number" ng-model="separatorChar" value="13">
</div>



<br/>
<div ng-repeat="word in words">{{word}}</div>


<barcode-scanner separator-char="separatorChar" trigger-char="triggerChar" scan-callback="scanCallback"
                trigger-callback="triggerCallback"></barcode-scanner>
</body>
</html>